<div id="pagepiling">
  <div class="section">
    <div class="section1">
      <img src="imagens/ic-scroll.svg" height="100px" alt="Null" class="image"> 
    </div>
  </div>
  <div class="section section2">
  </div>
  <div class="section section3">
  </div>
  <div class="section section4">
  </div>
</div>

<script src="scripts/pagina_inicial.js"></script>