<div class="table-div container-fluid"> 
  <div>
    <table class="table table-bordered table-dark">
    <thead>
    <thead>
        <tr>
        <th scope="col">UserID</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Body</th>
    </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
        </table>
    </div>
</div>
<script src="scripts/posts.js"></script>